.subscribeSection {
    width: 100%;
  
    &__container {
      width: 100%;
      border: 2px;
      height: 40rem;
      display: flex;
      justify-content: space-between;
  
      &--text-container {
        height: 100%;
        width: 55%;
        background-color: #dbff00;
        padding: 1rem 5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        color: black;
        justify-content: center;
  
        .light {
          position: absolute;
          right: 0;
          top: 4rem;
          width: 0rem;
        }
  
        .thick {
          position: absolute;
          left: 0 !important;
          bottom: 4rem !important;
          height: 1.2rem;
          width: 5rem;
        }
  
        .container {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 35rem;
  
          h1 {
            font-size: 3.125rem;
            font-family: "grotesk-bold";
          }
  
          p {
            font-size: 1.125rem;
            font-family: "marope-regular";
          }
  
          input {
            padding: 1.2rem 1rem;
            border-radius: 10px;
            width: 30rem;
            border: none;
            outline: none;
            border: 1px solid black;
          }
  
          button {
            padding: 1.2rem 1rem;
            border-radius: 10px;
            width: 30rem;
            background-color: black;
            color: #dbff00;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
  
      // border: 2px solid blue;
  
      &--image-container {
        height: 100%;
        width: 45%;
  
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
  
      // img{
      //     height: 100%;
      //     width: 50%;
      //     object-fit: cover;
      // }
    }
  }
  
  @media screen and (max-width: 485px) {
    .subscribeSection {
      &__container {
        flex-direction: column-reverse;
        height: max-content;
        padding-top: 2rem;
  
        &--text-container {
          .light {
            width: 10rem !important;
          }
          .thick {
            // position: relative;
            // width: 2rem !important;
            width: 5rem !important;
            height: 5px;
          }
          padding: 0;
          width: 100%;
          padding-top: 5rem;
          padding-bottom: 10rem;
  
          .container {
            // display: none;
  
            width: 100%;
  
            h1 {
              font-size: 2rem;
            }
  
            p {
              font-size: 1rem;
            }
  
            h1,
            p,
            input,
            button {
              width: 95%;
              margin: 0 auto;
            }
          }
        }
  
        &--image-container {
          width: 100%;
        }
      }
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 900px) {
    .subscribeSection {
      &__container {
        flex-direction: column-reverse;
        height: max-content;
        padding-top: 2rem;
  
        &--text-container {
          .light {
            width: 10rem !important;
          }
          .thick {
            // position: relative;
            // width: 2rem !important;
            width: 5rem !important;
            height: 5px;
          }
          padding: 0;
          width: 100%;
          padding-top: 5rem;
          padding-bottom: 10rem;
  
          .container {
            // display: none;
  
            width: 60%;
            margin: auto;
  
            h1 {
              font-size: 2rem;
            }
  
            p {
              font-size: 1rem;
            }
  
            h1,
            p,
            input,
            button {
              width: 95%;
              margin: 0 auto;
            }
          }
        }
  
        &--image-container {
          width: 100%;
        }
      }
    }
  }
  
  .bbtn-effect {
    position: relative;
  
    cursor: pointer;
    transition: color 350ms ease-in-out;
  }
  
  .bbtn-effect::before,
  .bbtn-effect::after {
    content: "";
    position: absolute;
    top: -3px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    transform: scale(0);
    transition: transform 350ms ease-in;
    border-radius: 10px;
  }
  
  .bbtn-effect::before {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    left: -3px;
    transform-origin: 0 100%;
  }
  
  .bbtn-effect::after {
    border-right: 3px solid black;
    border-top: 3px solid black;
    right: -3px;
    transform-origin: 100% 0;
  }
  
  .bbtn-effect:hover::after,
  .bbtn-effect:hover::before {
    transform: scale(1);
  }
  
  .bbtn-effect:hover {
    background-color: transparent !important;
    color: black !important;
    border: none;
  }